/frontend/node_modules/
/backend/.venv/
/.env
.idea/
*.iml
/backend/.env

backend/KIS2/__pycache__/
backend/__pycache__/
backend/migrations/__pycache__/
backend/migrations/versions/__pycache__/
backend/models/__pycache__/

